.page {
  min-height: 100vh;
}

/* CARD */
.login-card {
  width: 380px;
  border-radius: 16px;
  border: none;
}

  .login-card h2 {
    letter-spacing: 0.5px;
    color: #0f766e;
  }

/* INPUT ICON BACKGROUND */
.input-group-text {
  background: #e6f4f3;
  border: 1px solid #bfe3df;
  color: #0f766e;
}

/* INPUT FOCUS */
.form-control:focus {
  border-color: #0f766e;
  box-shadow: 0 0 0 0.15rem rgba(15,118,110,.25);
}

/* BUTTON */
.btn-success {
  background-color: #0f766e;
  border-color: #0f766e;
}

  .btn-success:hover {
    background-color: #0c5f59;
    border-color: #0c5f59;
  }

/* EYE BUTTON */
.eye-btn {
  cursor: pointer;
  background: #e6f4f3;
  color: #0f766e;
}

  .eye-btn:hover {
    background: #d1ece9;
  }

/* REGISTER LINK */
.text-success {
  color: #0f766e !important;
}
